<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.cash.restmapper.MemberRestMapper">
	<select id="selectMemberId" resultType="java.lang.String"
		parameterType="java.lang.String">
		SELECT id
		FROM member
		WHERE id = #{id}
	</select>
	<!--연도별 수입/지출 합계v -->
	<select id="selectTotalOutAndInByYear" parameterType="int"
		resultType="java.util.Map">
		SELECT YEAR(cashbook_date) '년',
		sum(case when
		cashbook_kind='수입' then cashbook_price END) '수입',
		sum(case when
		cashbook_kind='지출' then cashbook_price END) '지출'
		FROM cashbook
		WHERE
		YEAR(cashbook_date) = #{year}
		GROUP BY Year(cashbook_date)
	</select>
	<!--연도별 월간 총 수입v -->
	<select id="lineDataset" parameterType="int"
		resultType="java.util.Map">
	SELECT
		YEAR(cashbook_date) AS year,
		sum(case when
		month(cashbook_date)=1 then cashbook_price END) January,
		sum(case when
		month(cashbook_date)=2 then cashbook_price END) February,
		sum(case when
		month(cashbook_date)=3 then cashbook_price END) March,
		sum(case when
		month(cashbook_date)=4 then cashbook_price END) April,
		sum(case when
		month(cashbook_date)=5 then cashbook_price END) May,
		sum(case when
		month(cashbook_date)=6 then cashbook_price END) June,
		sum(case when
		month(cashbook_date)=7 then cashbook_price END) July,
		sum(case when
		month(cashbook_date)=8 then cashbook_price END) August,
		sum(case when
		month(cashbook_date)=9 then cashbook_price END)
		September,
		sum(case
		when month(cashbook_date)=10 then cashbook_price
		END) October,
		sum(case when month(cashbook_date)=11 then cashbook_price
		END)
		November,
		sum(case when month(cashbook_date)=12 then cashbook_price
		END) December
		FROM cashbook
		WHERE YEAR(cashbook_date) = #{year}
		AND
		cashbook_kind = "수입" GROUP BY Year(cashbook_date)
	</select>
	<!--연도별 월간 총 지출액v -->
	<select id="selectTotalMonthlyExpendituresByYear"
		parameterType="int" resultType="java.util.Map">
		SELECT
		YEAR(cashbook_date) AS year,
		sum(case when
		month(cashbook_date)=1 then cashbook_price END) January,
		sum(case when
		month(cashbook_date)=2 then cashbook_price END) February,
		sum(case when
		month(cashbook_date)=3 then cashbook_price END) March,
		sum(case when
		month(cashbook_date)=4 then cashbook_price END) April,
		sum(case when
		month(cashbook_date)=5 then cashbook_price END) May,
		sum(case when
		month(cashbook_date)=6 then cashbook_price END) June,
		sum(case when
		month(cashbook_date)=7 then cashbook_price END) July,
		sum(case when
		month(cashbook_date)=8 then cashbook_price END) August,
		sum(case when
		month(cashbook_date)=9 then cashbook_price END)
		September,
		sum(case
		when month(cashbook_date)=10 then cashbook_price
		END) October,
		sum(case when month(cashbook_date)=11 then cashbook_price
		END)
		November,
		sum(case when month(cashbook_date)=12 then cashbook_price
		END) December
		FROM cashbook
		WHERE YEAR(cashbook_date) = #{year}
		AND
		cashbook_kind = "지출" GROUP BY Year(cashbook_date)
	</select>
	
	<!--연도별 수익(수입-지출)v-->
	<select id="radarDataSet" resultType="java.util.Map">
		SELECT YEAR(cashbook_date) '년',
		sum(case when cashbook_kind='수입' then cashbook_price END)
		-sum(case when cashbook_kind='지출' then cashbook_price END) '수익'
		FROM cashbook
		GROUP BY Year(cashbook_date)
	</select>
	
	<!--연도별 지출 합계v-->
	<select id="selectTotalYearExpenditures" resultType="java.util.Map">
	SELECT 
		YEAR(cashbook_date) 연도,
		SUM(cashbook_price) 지출
		FROM cashbook WHERE cashbook_kind='지출' GROUP BY YEAR(cashbook_date);
	</select>
	
	<!--연도별 수입 합계v-->
	<select id="selectTotalYearInCome" resultType="java.util.Map">
	SELECT 
		YEAR(cashbook_date) 연도,
		SUM(cashbook_price) 수입
		FROM cashbook WHERE cashbook_kind='수입' GROUP BY YEAR(cashbook_date);
	</select>
	
	<!--월별 수입 평균v-->
	<select id="selectAvgMontlyIncome" resultType="java.util.Map">
		SELECT 
			MONTH(cashbook_date) 월, 
			AVG(cashbook_price) 수입
		FROM cashbook 
			WHERE cashbook_kind='수입' AND YEAR(cashbook_date) = #{year}
		GROUP BY MONTH(cashbook_date)
	</select>
	
	<!--월별 지출 평균v-->
	<select id="selectAvgMontlyExpenditures" resultType="java.util.Map">
		SELECT 
			MONTH(cashbook_date) 월, 
			AVG(cashbook_price) 지출
		FROM cashbook 
			WHERE cashbook_kind='지출' AND YEAR(cashbook_date) = #{year}
		GROUP BY MONTH(cashbook_date)
	</select>
	
	<!--연도별 수입 평균-->
	<select id="selectAvgTotalYearIncome" resultType="java.util.Map">
	SELECT 
		YEAR(cashbook_date) 연도,
		AVG(cashbook_price) 수입
		FROM cashbook WHERE cashbook_kind='수입' GROUP BY YEAR(cashbook_date);
	</select>
	
	<!--월별 수익 현황-->
	<select id="selectMontlyNetIncome" resultType="java.util.Map">
	SELECT
		MONTH(cashbook_date) 월, 
		SUM(case when cashbook_kind='수입' then cashbook_price END)-SUM(case when cashbook_kind='지출' then cashbook_price END) '수익'
		FROM cashbook Where YEAR(cashbook_date) = #{year}
		GROUP BY MONTH(cashbook_date)
	</select>
</mapper>