<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.cash.mapper.NoticeMapper">
	<select id="selectLastestNoticeList"
		resultType="kr.co.gdu.cash.vo.Notice">
		select
		notice_id as noticeId,
		notice_title as noticeTitle,
		notice_content as noticeContent,
		notice_date as noticeDate
		from notice
		order by notice_date
		desc limit 0, 5
	</select>
	<!--noticeListByPage -->
	<select id="selectNoticeListByPage"
		resultType="kr.co.gdu.cash.vo.Notice" parameterType="java.util.Map">
		select
		notice_id
		noticeId,
		notice_title noticeTitle,
		notice_date noticeDate
		from notice
		order by notice_date
		desc
		limit #{beginRow}, #{rowPerPage}
	</select>
		<select id="selectNoticeCount" resultType="Integer">
		SELECT COUNT(*) FROM notice
	</select>
	<!--입력 -->
	<insert id="insertNotice" parameterType="kr.co.gdu.cash.vo.Notice">
		<selectKey resultType="int" keyProperty="noticeId" order="AFTER">
			SELECT LAST_INSERT_ID()		
		</selectKey>
		INSERT INTO notice(
		notice_title,
		notice_content,
		notice_date
		) VALUES(
		#{noticeTitle},
		#{noticeContent},
		NOW()
		)
	</insert>
	<!--수정 -->
	<update id="modifyNotice" parameterType="kr.co.gdu.cash.vo.Notice">
		UPDATE notice
		SET
		notice_title = #{noticeTitle},
		notice_content = #{noticeContent}
		WHERE
		notice_id = #{noticeId}
	</update>	
	<resultMap type="kr.co.gdu.cash.vo.Notice" id="selectNoticeOneResult">
		<result property="noticeId" column="notice_id" />
		<result property="noticeTitle" column="notice_title" />
		<result property="noticeContent" column="notice_Content" />
		<result property="noticeDate" column="notice_date" />
	<collection property="noticeFileList" ofType="kr.co.gdu.cash.vo.NoticeFile">
		 <result property="noticeFileId" column="noticefile_id"/>
         <result property="noticeId" column="notice_id"/>
         <result property="noticeFileName" column="noticefile_name"/>
         <result property="noticeFileType" column="noticefile_type"/>
         <result property="noticeFileSize" column="noticefile_size"/>
	</collection>
	</resultMap>
	<!--상세보기 -->
	<select id="selectNoticeOne"
		resultMap="selectNoticeOneResult" parameterType="int">
		select
		n.notice_id, 
		n.notice_title,
		n.notice_content,
		n.notice_date,
		nf.noticefile_id,
		nf.noticefile_name,
		nf.noticefile_size,
		nf.noticefile_type
		FROM notice n
		LEFT OUTER JOIN noticefile nf
		ON n.notice_id = nf.notice_id
		where n.notice_id = #{noticeId}
	</select>

	<!--삭제-->
	<delete id="removeNotice" parameterType="Integer">
	delete from notice
	where notice_id = #{noticeId}
	</delete>
	
</mapper>